.formacionAcademica {
    background-color: var(--azul-fondo);
}

.formacionAcademica .container {
    padding: 5.125rem 0;
}

.formacion__lista {
    display: flex;
    justify-content: space-between;
}

.formacion__item {
    width: 25vw;
}

.formacion__logo {
    width: 25vw;
    height: 15vw;
    background-color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: center;
}



.formacion__logo img {
    width: 10vw;
}


.sistemasComputacionales {
    margin: 0 1rem;
}

@media screen and (max-width:1007px) {}

@media screen and (max-width:640px) {
    .formacion__lista {
        flex-direction: column;
        align-items: center;
    }

    .formacion__item {
        width: 90vw;
    }

    .formacion__logo {
        width: 90vw;
        height: 20vw;
    }
    
    .formacion__logo img {
        width: 15vw;
      }

}