.input-container--invalid {
    margin-bottom: 0.5rem;
  }
  
  .input-container--invalid .campo__input {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
  }
  
  .input-container--invalid .input-label {
    color: var(--warning-color);
  }
  
  .input-message-error {
    display: none;
  }
  
  .input-container--invalid .input-message-error {
    font-size: 0.9rem;
    color: var(--warning-color);
    display: block;
    margin-top: 0.5rem;
    padding-left: 1.5rem;
  }