.sobreMi{
    background-color: var(--azul-fondo);
}
.sobreMi .container{
    padding: 2rem 0;
}

.sobreMi__parrafo{
    width: 50vw;
}

.firma{
    width: 140px;
}

@media screen and (max-width:1007px){
    .sobreMi__parrafo {
        width: 90vw;
    }
}

@media screen and (max-width:640px){

}